.app_black_theme {
  --bg-color: #020303;
  --inverted-bg-color: #f4f5fb;
  --primary-color: #f4f5fb;
  --secondary-color: #020303;
  --inverted-primary-color: #020303;
  --inverted-secondary-color: #020303;
}
